PORT=3000
MONGODB_URI=mongodb+srv://Harsh2608:Harshverma26@cluster0.zz6szmw.mongodb.net/foodster?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=3a2feba8f4308f5e541af705280a4624aa897969c8842f41137f66f6317dd4a84bba4e70f716ffb9a9b940e8ac401504bf6ede727f80656c95bd813384f082b


# Set this to your deployed frontend URL (no trailing slash

FRONTEND_URL=https://foodster-app.vercel.app/visit

NODE_ENV=production
